.bg-img {
    background-image: url(/assets/background-img.png);
}
.intro-left {
    max-width: 526px;
}
.intro-right {
    max-width: 746px;
}
.card-group {
    max-width: 636px;
}
.about-me {
    max-width: 526px;
}